<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ray.dormitory.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.ray.dormitory.bean.po.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="classId" column="class_id"/>

        <result property="isUsable" column="is_usable"/>

        <result property="college" column="college"/>
        <result property="cla" column="class"/>
        <collection property="roles" ofType="com.ray.dormitory.bean.po.Role"
                    select="com.ray.dormitory.mapper.RoleMapper.getRoleOfUser" column="id">

        </collection>
    </resultMap>


    <update id="updatePsw">
        update user set password=#{psw},salt=#{salt} where id=#{id}
    </update>


    <select id="getUserByAccount" resultMap="userResultMap">
        SELECT u.*,r.*
        FROM user u LEFT JOIN user_role ur on u.id=ur.user_id
					LEFT JOIN role r on r.id=ur.role_id
        where account = #{account}

    </select>
    <select id="getPage" resultMap="userResultMap">
        select user.*,class.name class,college.name college from user
            left join organization class on user.class_id=class.id
            left join organization major on class.parent_id=major.id
            left join organization college on major.parent_id=college.id
            ${ew.customSqlSegment}
            limit #{start},#{size}
    </select>


</mapper>